html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
input,
ul {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
li {
  list-style: none;
}






/**************************************\
  $CALENDAR
\**************************************/
.calendar {
  width: 350px;
  height: 640px;
  background-color: hsl(0, 0%, 35%);
  position: relative;
}





/**************************************\
  $MAIN DATE
\**************************************/
.mainDate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
    .mainDateText {
      color: #FFF;
    }
    .number {
      font-size: 8em;
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
    .day {
      font-size: 2em;
      position: absolute;
      top: 150px;
      width: 100%;
      text-align: center;
    }
    .month {
      font-size: 1.5em;
      width: 100%;
      text-align: center;
      margin-top: 100px;
    }
    .year {
      width: 100%;
      text-align: center;
      font-size: 1em;
    }





/**************************************\
  $MAIN CALENDAR
\**************************************/
.mainCalendar {
  width: 100%;
  margin-top: 30px;
}
    .mainCalendar__week {
      width: 100%;
      margin-bottom: 15px;
    }
        .weekList {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
            .weekList__date {
              color: #FFF;
              font-size: 1em;
              width: calc(100% / 7);
              text-align: center;
            }
    .mainCalendar__date {
      width: 100%;
    }
        .week {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .firstWeek {
          width: 100%;
        }
            .date {
              color: #FFF;
              width: calc(100% - (100% / 7));
              height: 50px;
              font-size: 1rem;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }





/**************************************\
  $DETAILED TASKS
\**************************************/
.detailedTasks {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0%;
  background-color: hsl(187, 56%, 48%);
  opacity: 0.6;
}
