html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: hsl(0, 0%, 0%);
}
input,
ul {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
input:focus { outline: none; }
li { list-style: none; }
.pathElement {
  stroke: hsl(58, 65%, 35%);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}
[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
}






/**************************************\
  $CALENDAR
\**************************************/
.calendar {
  width: 350px;
  height: 640px;
  border: 1px solid hsl(58, 65%, 35%);
  background-color: hsl(58, 65%, 35%);
  position: relative;
}





/**************************************\
  $MAIN DATE
\**************************************/
.mainDate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
    .mainDateText { color: #000; }
    .number {
      font-size: 8em;
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
    .day {
      font-size: 2em;
      position: absolute;
      top: 150px;
      width: 100%;
      text-align: center;
    }
    .month {
      font-size: 1.5em;
      width: 100%;
      text-align: center;
      margin-top: 85px;
    }
    .year {
      width: 100%;
      text-align: center;
      font-size: 1em;
    }





/**************************************\
  $MAIN CALENDAR
\**************************************/
.mainCalendar {
  width: 100%;
  margin-top: 30px;
}
    .mainCalendar__week {
      width: 100%;
      margin-bottom: 15px;
    }
        .weekList {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
            .weekList__date {
              color: #000;
              font-size: 1em;
              width: calc(100% / 7);
              text-align: center;
            }
    .mainCalendar__date { width: 100%; }
        .week {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .firstWeek { width: 100%; }
            .date {
              color: #000;
              width: calc(100% - (100% / 7));
              height: 50px;
              font-size: 1rem;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
            .taskDate { position: relative; }
            .taskDate:after {
              content: "";
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #000;
              position: absolute;
              left: calc((100% - 6px)/2);
              bottom: 15%;
            }
            .focusedDate {
              color: hsl(58, 65%, 35%);
              background-color: hsl(0, 0%, 0%);
              border-radius: 50%;
            }
            .focusedTaskDate:after {
              content: "";
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: hsl(58, 65%, 35%);
              position: absolute;
              left: calc((100% - 6px)/2);
              bottom: 15%;
            }
            .today {
              color: #000;
            }
            .focusedToday {
              color: hsl(58, 65%, 35%);
              background-color: hsl(0%, 0%, 0%);
            }





/**************************************\
  $DETAILED TASKS
\**************************************/
.detailedTasks {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  overflow: scroll;
  background-color: #000;
  visibility: hidden;
}
    .addTask {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid hsl(58, 65%, 35%);
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .addTask:before {
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      background-color: hsl(58, 65%, 35%);
      position: absolute;
    }
    .addTask:after {
      content: "";
      display: block;
      width: 1px;
      height: 15px;
      background-color: hsl(58, 65%, 35%);
      position: absolute;
    }
    .cancelTask {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid hsl(58, 65%, 35%);
      cursor: pointer;
      position: absolute;
      left: calc((100% - 40px) / 2);
      bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
        .cancelTaskSvg {
          width: 40px;
          height: 40px;
        }
    .taskBoard {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
        .taskItem {
          width: 100%;
          margin-bottom: 50px;
        }
            .taskItem__content {
              width: 75%;
              height: 100%;
              margin: 0;
              font-size: 1.2em;
              word-break: keep-all;
              line-height: 25px;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              margin-bottom: 10px;
              color: hsl(58, 65%, 35%);
            }
            .taskItem__time {
              width: 25%;
              height: 100%;
              margin: 0;
              font-size: 1em;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: auto;
              margin-right: auto;
              color: hsl(58, 65%, 35%);
            }




/**************************************\
  $NEW SCHEDULE FORM
\**************************************/
.newScheduleForm {
  width: 100%;
  height: 0%;
  background-color: hsl(0, 0%, 15%);
  position: absolute;
  left: 0%;
  bottom: 0%;
  transition: height 0.3s ease-out;
}
    .scheduleHeader {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 180px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
        .formTitle {
          margin: 0;
          color: hsl(58, 65%, 35%);
        }
        .cancelNewSchedule,
        .addNewSchedule {
          color: hsl(58, 65%, 35%);
        }
    .inputForm {
      border-bottom: 1px solid hsl(58, 65%, 35%);
      color: hsl(58, 65%, 35%);
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      text-align: center;
      font-size: 2em;
    }
    .inputForm:focus {
      outline: none;
    }
        .scheduleTime {
          margin-bottom: 70px;
        }
