html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: hsl(0, 0%, 0%);
}
input,
ul {
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
input:focus { outline: none; }
li { list-style: none; }
.pathElement {
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: transparent;
}






/**************************************\
  $CALENDAR
\**************************************/
.calendar {
  width: 350px;
  height: 640px;
  background-color: hsl(58, 65%, 30%);
  position: relative;
}





/**************************************\
  $MAIN DATE
\**************************************/
.mainDate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
    .mainDateText { color: #FFF; }
    .number {
      font-size: 8em;
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
    .day {
      font-size: 2em;
      position: absolute;
      top: 150px;
      width: 100%;
      text-align: center;
    }
    .month {
      font-size: 1.5em;
      width: 100%;
      text-align: center;
      margin-top: 85px;
    }
    .year {
      width: 100%;
      text-align: center;
      font-size: 1em;
    }





/**************************************\
  $MAIN CALENDAR
\**************************************/
.mainCalendar {
  width: 100%;
  margin-top: 30px;
}
    .mainCalendar__week {
      width: 100%;
      margin-bottom: 15px;
    }
        .weekList {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
            .weekList__date {
              color: #FFF;
              font-size: 1em;
              width: calc(100% / 7);
              text-align: center;
            }
    .mainCalendar__date { width: 100%; }
        .week {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .firstWeek { width: 100%; }
            .date {
              color: #FFF;
              width: calc(100% - (100% / 7));
              height: 50px;
              font-size: 1rem;
              font-weight: bold;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
            .taskDate { position: relative; }
            .taskDate:after {
              content: "";
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #FFF;
              position: absolute;
              left: calc((100% - 6px)/2);
              bottom: 15%;
            }
            .focusedDate { position: relative; }
            .focusedDate:after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #FFF;
              opacity: 0.3;
            }
            .today {
              color: hsl(148, 100%, 50%);
            }
            .focusedToday {
              /*color: #FFF;
              background-color: hsl(6, 100%, 70%);*/
            }





/**************************************\
  $DETAILED TASKS
\**************************************/
.detailedTasks {
  position: absolute;
  width: 100%;
  height: 305px;
  bottom: 0%;
  overflow: scroll;
  background-color: #7a7afd;
  visibility: hidden;
}
    .cancelTask {
      width: 40px;
      height: 40px;
      float: right;
      cursor: pointer;
      margin-bottom: 20px;
    }
    .taskBoard {
      width: 100%;
      height: calc(100% - 40px);
      clear: both;
    }
        .taskItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
            .taskItem__content {
              width: 75%;
              height: 100%;
              margin: 0;
              padding: 15px;
              font-size: 1.2em;
              word-break: keep-all;
              line-height: 25px;
            }
            .taskItem__time {
              width: 25%;
              height: 100%;
              margin: 0;
              font-size: 1em;
              display: flex;
              justify-content: center;
              align-items: center;
            }
